#about{
  height: 100vh;
  display: flex;
  padding: 0px 40px;
  position: relative;
  align-items: center;
  background: #141414;
  #content{
    gap: 20px;
    top: 30px;
    display: flex;
    flex-basis: 70%;
    position: relative;
    flex-direction: column;  
    b{
      position: relative;
      &::before{
        right:50%;
        bottom: 100%;
        padding: 5px;
        width: 100px;
        font-size: 13px;
        text-align: center;
        position: absolute;
        content: attr(about);
        background: #2c2c2c;
        transition: all .1s ease-in;
        transform: translateX(50%) scale(0);
      }
      &:hover::before{
        transform: translateX(50%) scale(1);
      }
    } 
    #title{
      font-size: 32px;
      span{
        font-weight: bold;
        color: var(--primary);
      }
    }
    #desc{
      color: #dbdbdb;
      font-size: 22px;
    }
    .group{
      .area{
        margin-bottom: 10px;
        color: var(--primary);
      }
      .tec{
        left: 10px;
        position: relative;
        display: flex;
        font-size: 18px;
        margin-bottom: 5px;
        align-items: center;
        justify-content: space-between;
        .desc{
          width: 85%;
          color: #dbdbdb;
          &::before{
            content: ': ';
          }    
        }
      }  
    }
  }
  #decoration{
    height: 100%;
    display: flex;
    flex-basis: 30%;
    align-items: flex-end;
    img{
      width: 400px;
      height: max-content;
      filter: contrast(1.1) brightness(90%);
    }
  }
  #imgDeco{
    position: absolute;
    right: 0;
    top: 0;
    height: 70%;
    filter: brightness(150%);
  }
}
@media screen and (max-width: 768px){
  #about{
    height: max-content;
    flex-direction: column;
    #content{
      top: 0;
      padding-top: 90px;
      gap: 10px;
      #title{
        font-size: 28px;
      }
      #desc{
        font-size: 20px;
      }
      .group .tec{
        left: 0;
        gap: 5px;
        margin-bottom: 8px;
        flex-direction: column;
        align-items: flex-start;
        .desc{
          width: 100%;
          &::before{
            content: '';
          }
        }
      }
    }
    #decoration{
      width: 100%;
      height: max-content;
      img{
        width: 100%;
      }
    }
  }
}