@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root{
  --primary: #2cc1a1;
  /* --primary: #2cb8c1; */
  /* --primary: #c12c59; */
  --grayDark: #262b30;
  --gray: #7a7a7a;
  --grayLight: #4e4e4e;
}
* {
  margin: 0;
  padding: 0;
  color: white;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
body > iframe {
  display: none;
}
.container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
a{
  /* color: white; */
  text-decoration: none;
}
li{
  list-style: none;
}
