@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.navBarMobile{
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  position: fixed;
  width: max-content;
  background: $navFondo;
  @include flex($direction: column, $justify: flex-end, $align: flex-start);
  .opt{
    width: 180px;
    font-size: 18px;
    padding: 15px 30px;
    border-right: 5px solid $primary;
    @include flex($direction: row, $justify: space-between, $align: center);
    &.active{
      background: $primary;
    }
    &.desactive:hover{
      background: $grayDark;
    }
  }
}
