@import '../../scss/mixins.scss';
@import '../../scss/extends.scss';

#listGames {
  gap: 15px;
  width: 100%;
  padding: 20px 40px;
  @extend %flex-column;
  #options{
    @include flex($direction: row, $justify: space-between, $align: center);
    #switchFilter{
      gap: 15px;
      padding: 10px;
      cursor: pointer;
      border: 1px solid white;
      @include flex($direction: row, $justify: flex-start, $align: center);
    }
    #clearFilters{
      cursor: pointer;
    }  
  }
  .sectionGames{
    @include flex($direction: column, $justify: flex-start, $align: center);
    gap: 20px;
    .infoGames {
      width: 100%;
      @include flex($direction: row, $justify: space-between, $align: center);
    }
    .contentGames {
      width: 100%;
      gap: 30px 10px;
      flex-wrap: wrap;
      @include flex($direction: row, $justify: space-between, $align: center);
    }
  } 

}
@media screen and (max-width: 768px) {
  #listGames {
    gap: 0px;
    padding: 0px;
    #options #switchFilter{
      display: none;
    }  
    .sectionGames{
      .infoGames {
        flex-direction: column;
        gap: 20px;
      }
      .contentGames{
        justify-content: center;
      }
    }
  }  
}
