@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

#boxForm{
  display: flex;
  text-align: left;
  overflow: hidden;
  justify-content: flex-end;
  #formFilter{
    padding: 20px;
    width: 270px;
    .input_group{
      @include flex($direction: row, $justify: flex-start, $align: center);
      gap: 13px;
      input{
        width: 15px;
        height: 15px;
        cursor: pointer;
        appearance: none;
        border: 2px solid $primary;
        &:checked{
          background: $primary;
        }
        &:disabled{
          border: 2px solid gray;
        }
      }
      label{
        font-size: 15px;
      }
    }
    button{
      border: none;
      display: block;
      margin: 0 auto;
      color: white;
      font-size: 18px;
      margin-top: 15px;
      padding: 8px 13px;
      border-radius: 5px;
      background: $primary;
    }
  }
}

@media screen and (max-width: 768px) {
  #boxForm{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    background: #141414;
    box-shadow: -5px -5px 15px rgba(128, 128, 128, 0.3);
    #formFilter{
      width: 250px;
      height: 100vh;
      overflow: auto;
      padding: 90px 20px;
      button{
        right: 40px;
        bottom: 20px;
        position: fixed;
        box-shadow: 0px 0px 70px rgba(128, 128, 128, 0.5);
      }
    }
  }
}