#games {
  #headerFondo {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
  #searchMobile{
    display: none;
  }
  #content {
    display: flex;
    align-items: flex-start;
  }
}
@media screen and (max-width: 768px) {
  #games{
    padding: 40px;
    padding-top: 80px;
    #headerFondo{
      display: none;
    }
  }
}