@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';
@import '../../scss/extends.scss';

#detailGame {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 80px 40px 30px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: $grayDark; // alternartiva si no encuentra la imagen
  @include flex($direction: column, $justify: space-between, $align: flex-start);
  section{
    &#infoVideoGame{
      width: 100%;
      height: 100%;
      @include flex($direction: row, $justify: space-between, $align: center);
      #info{
        @extend %flex-column;
        gap: 20px;
        width: 40%;
        #title{
          font-size: 45px;
        }
        #atributes{
          gap: 7px 10px;
          display: flex;
          flex-wrap: wrap;
          div{
            gap: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            span{
              font-size: 15px;
              font-weight: bold;
              letter-spacing: 2px;
              text-transform: uppercase;
              color: $grayLight;
            }
            &:not(:last-child)::after{
              content: '|';
              color: $grayLight;
            }
          }
        }
        #desc{
          overflow: auto;
          font-size: 17px;
          line-height: 1.5;
          font-weight: 600;
          max-height: 130px;
          color: $whiteLow;
          &::-webkit-scrollbar{
            appearance: none;
          }
        }
        #website{
          width: 100%;
          overflow: hidden;
          font-weight: bold;
          text-overflow: ellipsis;
        }
        #infoExtra{
          display: flex;
          gap: 50px;
          font-size: 17px;
          font-weight: bold;
          p{
            display: inline-flex;
            gap: 10px;
            color: $whiteLow;
          }
        }
      }  
      #trailer{
        width: 50%;
        border-radius: 10px;
      }
    }
    &#screenshots{
      width: 100%;
      position: relative;
      #carrusel{
        .iconMove {
          position: absolute;
          top: 0;
          height: 100%;
          z-index: 101;
          font-size: 40px;
          cursor: pointer;
          padding: 0px 13px !important;
          &.left{
            left: -40px;
          }
          &.right{
            right: -40px;
            background: linear-gradient(to right, transparent, $black);
          }
        }
        #images{
          gap: 25px;
          display: flex;
          transition: transform .7s ease-out;
          .screen{
            width: 250px;
            cursor: pointer;
            border-radius: 5px;
            filter: contrast(90%);
            transition: filter .15s ease-in-out;
            &:hover{
              filter: contrast(100%);
            }
          }
        } 
      }
    }
  }
}

@media screen and (max-width:1190px) {
  #detailGame section#infoVideoGame #info{
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  #detailGame{
    gap: 30px;
    height: max-content;
    padding: 80px 0px 20px;
    section{
      &#infoVideoGame{
        gap: 30px;
        height: max-content;
        flex-direction: column;
        #info, #trailer{
          width: 100%;
        }
        #info{
          padding: 0px 40px;
          #title{
            font-size: 35px;
          }
          #website{
            font-size: 18px;
            line-height: 1.2;
          }
          #atributes{
            padding: 30px 0px;
            background: $black;
            justify-content: center;
            div{
              span{
                color: $whiteLow
              }
              &:not(:last-child)::after{
                all: unset;
              }
            }
          }  
          #desc{
            max-height: max-content;
            text-align: justify;
            color: $whiteLow;
          }
          #infoExtra{
            justify-content: space-evenly;
          }  
        }
        #trailer{
          border-radius: 0;
        }
      }
      &#screenshots #carrusel{
        padding-left: 40px;
        .iconMove{
          &.left{
            left: 0px;
          }
          &.right{
            right: 0px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #detailGame section#screenshots #carrusel{
    padding-left: 0px;
    .iconMove{
      visibility: hidden;
    }
    #images{
      flex-direction: column;
      .screen{
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}