@import '../../scss/variables.scss';

#pagination {
  gap: 2px;
  display: flex;
  overflow: hidden;
  width: max-content;
  border-radius: 10px;
  button {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    &.active {
      background: $primaryDark;
    }
    &.desactive{
      color: $black;
      &:hover{
        background-color: $whiteLow;
      }
    }
  }
}
