@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';
@import '../../scss/extends.scss';

.dropdown{
  border-top: 2px solid $primary;
  .header{
    padding: 15px 0px;
    cursor: pointer;
    @include flex($direction: row, $justify: space-between, $align: center);
    .text{
      font-size: 20px;
      font-weight: bold;
    }
    .icon{
      transition: all .3s ease;
    }
  }
  .drop{
    @extend %flex-column;
    gap: 10px;
  }
}