#navbar{
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 100;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  #logo{
    height: 40px;
    position: relative;
    right: 8px;
  }
  .pages.desktop{
    gap: 10px;
    display: flex;
    margin: 0px auto 0px 30px;
    font-weight: bold;
    a{
      padding: 3px 0px;
      &.active{
        border-bottom: 2px solid var(--primary);
      }
    }
  }
  &>.fas{
    display: none;
  }
}
.pages.mobile{
  top: 0;
  left: 0;
  height: 100%;
  z-index: 99;
  position: fixed;
  width: max-content;
  background: var(--grayDark);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all .4s ease-in-out;
  .opt{
    width: 180px;
    display: flex;
    font-size: 20px;
    padding: 15px 30px;
    justify-content: space-between;
    border-right: 5px solid var(--primary);
    &.active{
      background: var(--primary);
    }
    &.desactive:hover{
      background: var(--grayLight);
    }
  }
}

@media screen and (max-width: 768px) {
  #navbar{
    .pages.desktop{
      display: none;
    }
    #search{
      display: none;
    }
    .fas{
      display: block;
      cursor: pointer;
      &#filter{
        margin-left: auto;
      }
      &#burguer{
        margin-left: 15px;
      }
    }
  }
}